{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="image_field image_detail">
    <div class="image_preview">
        <img src="{{value}}" />
    </div>
</div>
{{#if deleteImageLabel}}
    <span class="image_btn image_btn_label">{{str "LBL_DELETE_BUTTON"}} <i class="sicon sicon-trash" aria-hidden="true" style="cursor: pointer;"></i></span>
{{/if}}

