{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="filter-body console-config py-2 border-dashed border-separator border-b" data-filter="row">
    <div class="row-fluid">
        <div class="controls filter-selector" data-filter="field">
        </div>
        <div class="hide controls filter-selector" data-filter="operator">
        </div>
        <div class="hide controls filter-selector" data-filter="value">
        </div>
        <div class="filter-actions btn-group">
            <button data-action="remove" class="btn btn-invisible btn-dark">
                <i class="sicon sicon-minus"></i>
            </button>
            <button data-action="add" class="btn btn-invisible btn-dark">
                <i class="sicon sicon-plus"></i>
            </button>
        </div>
    </div>
</div>
