// Color coded tile view background colors
// -------------------------------------------------------------
.pipeline-bg-color-0 {
  background-color: @gray80;
}

.pipeline-bg-color-1 {
  background-color: @darkIndigo;
}

.pipeline-bg-color-2 {
  background-color: @darkRed;
}

.pipeline-bg-color-3 {
  background-color: @darkPacific;
}

.pipeline-bg-color-4 {
  background-color: @darkCoral;
}

.pipeline-bg-color-5 {
  background-color: @darkGreen;
}

.pipeline-bg-color-6 {
  background-color: @darkPurple;
}

.pipeline-bg-color-7 {
  background-color: @darkOrange;
}

.pipeline-bg-color-8 {
  background-color: @darkTeal;
}

.pipeline-bg-color-9 {
  background-color: @darkOcean;
}

.pipeline-bg-color-10 {
  background-color: @darkYellow;
}

.pipeline-bg-color-11 {
  background-color: @darkArmy;
}
