.cd-radio-buttons {
  position: absolute;
  right: 60px;
  top: 2px;
}

.cd-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cd-connection {
  text-align: center;
  font-size: 25px;
}

.cd-warning {
  font-size: 35px;
}
