/* DEPENDENCY PICKER VIEW
  ----------------*/
.dependency-picker {
  margin: 20px 20px 20px 10px;

  .table {
    width: auto;
    margin-top: 10px;

    thead {
      background-color: @contentBackground;

      tr {
        th:not(:first-child) {
          width: 100%;
        }
      }
    }

    .btn {
      padding: 0;
      border: 0;
      margin-left: 0;
    }

    td {
      border-top: 0;
    }

    th {
      width: 1px;
    }
  }

  .checkall {
    line-height: 0;
  }

  .toggle-all {
    margin: 0;
  }
}
