.dm-bold {
  font-weight: bold;
}

.dm-left {
  margin-left: -5pt !important;
}

.dm-icon {
  zoom: 0.7;
  display: block;
}

.dm-icon-top {
  margin-top: 10px;
}

.dm-list-bottom {
  margin-bottom: 5px;
}

.dm-action-top {
  margin-top: 2px;
}

.dm-widget-header {
  position: absolute;
  top: 8px;
  right: 25px;
}

.sicon.sicon-close.pull-right.feedback-close.document-merge {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pull-right.template-builder {
  color: @textColor;
  position: absolute;
  top: 5px;
  right: 40px;
}

.dm-cursor {
  cursor: pointer;
}

.dm_tb_modules {
  margin: 1%;
}

.dm-tag-builder-tabs {
  margin-left: 1%;
}

.dm-tag-builder-tab-list {
  margin-bottom: 5;
}

.dm-tag-builder-tab-content {
  margin-left: 10px;
}

.dm-options-button-settings {
  padding: inherit;
}

.dm-tag-builder-relationships {
  margin-bottom: 1%;
}

.dm-tag-builder-relationship-options {
  float: right;
  margin-right: 2%;
}

.dm-tag-builder-buttons {
  text-align: right;
  margin: 20px;
}

.dm-tag-builder-conditionals-row {
  margin: 5px;
}

.dm-tag-builder-conditionals-key {
  text-align: center;
}

.dm-tag-builder-modules {
  margin-top: 5px;
  margin-left: 10px;
}

.dm-select {
  width: 95%;
  margin-bottom: 5px;
}

.dm-divider {
  border-bottom: @borderWidget;
}

.dm-spacing {
  margin-bottom: 5px;
}

.table td.dm-center-table-text {
  vertical-align: middle;
  cursor: pointer;
}

.dm-help-icon {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 12px;
  cursor: pointer;
}

.dm-help-icon:hover {
  color: @sicon-hover-color;
}

ul li.dm-float-right {
  float: right;
}

.widget-help-icon {
  position: absolute;
  top: 7px;
  margin-left: 70px;
}

.dm-table-assistant {
  position: absolute;
  left: -1000px;
  top: -1000px;
}

.dm-table-assistant-border {
  border: 1px solid black;
}
