/* ERROR PAGE
  ----------------*/

@topFace: @gray60;
@leftFace: @gray50;
@rightFace: @gray40;

div.error-page {
  color: @gray80;
  background-color: @rightFace;
  background-image:
    linear-gradient(30deg, @topFace 12%, transparent 12.5%, transparent 87%, @topFace 87.5%, @topFace),
    linear-gradient(150deg, @topFace 12%, transparent 12.5%, transparent 87%, @topFace 87.5%, @topFace),
    linear-gradient(30deg, @topFace 12%, transparent 12.5%, transparent 87%, @topFace 87.5%, @topFace),
    linear-gradient(150deg, @topFace 12%, transparent 12.5%, transparent 87%, @topFace 87.5%, @topFace),
    linear-gradient(60deg, @leftFace 25%, transparent 25.5%, transparent 75%, @leftFace 75%, @leftFace),
    linear-gradient(60deg, @leftFace 25%, transparent 25.5%, transparent 75%, @leftFace 75%, @leftFace);
  background-size: 12px 20px;
  background-position: 0 0, 0 0, 6px 10px, 6px 10px, 0 0, 6px 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;

  .error-message {
    position: relative;
    top: 7%;

    h1 {
      color: @gray80;
    }

    p {
      color: @gray80;
      font-size: @fontSizeLarge;
    }
  }

  .sugar-cube-wrapper {
    position: relative;
    top: 15%;
    text-align: center;
  }

  .sugar-cube {
    width: 42px;
    height: 42px;
    display: inline;
    fill: @gray50;
  }

  .fa-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
}
