.hint-accounts-logo--record-view {
  position: relative;
}

.preview-pane .preview-data .field-label[data-name=hint_account_pic] {
  display: none !important;
}

.preview-pane .preview-data .field-value[data-name=hint_account_pic] {
  position: absolute;
  top: 2px;
}

.preview-pane .preview-data .field-value[data-name=hint_account_pic] .label,.preview-pane .preview-data .field-value[data-name=hint_account_pic] .image_field .image_preview {
  width: 32px;
  height: 32px;
}

.preview-pane .preview-data .field-value[data-name=hint_account_pic] .image_field .image_preview {
  border-radius: 50%;
  overflow: hidden;
}

.preview-pane .preview-data .field-value[data-name=hint_account_pic] .image_field .image_preview img {
  width: 32px;
  height: 32px;
}

.headerpane .record-cell[data-name=hint_account_pic] .image_field {
  width: 42px;
  height: 42px;
  min-height: 42px;
  line-height: 42px;
  border-radius: 50%;
  overflow: hidden;
}

.headerpane .record-cell[data-name=hint_account_pic] .image_field .image_preview img {
  width: 42px;
  height: 42px;
}

.headerpane h1 >.record-cell[data-type="image"] {
  padding: 4px 0 0 20px;
}

.headerpane h1 >.record-cell[data-name=hint_account_pic] {
  padding: 4px 0 0 20px;
}
