.stage2-email-import .modal-body {
  position: relative;
  max-height: 400px;
  padding-bottom: 10%;
  overflow-y: unset;
}

.stage2-email-import .modal-header {
  bottom: 10px;
  background-color: #000;
  position: relative;
  width: 95%;
  right: 1px;
  padding-top: 10px;
}

.stage2-email-import .modal-footer .btn {
  color: #176de5;
}

.stage2-email-import h4 {
  position: relative;
  font-size: 14px;
  font-family: "Open Sans", "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #fff;
}

.stage2-email-import .email-list {
  list-style-type: none;
}

.stage2-email-import .email-list .item {
  line-height: 20px;
  right: 10px;
  position: relative;
  font-size: 12px;
}

.stage2-email-import .email-list .detail {
  position: relative;
  left: 10px;
  font-size: 13px;
}

.create-leads-layout .hnt,
.create-contacts-layout .hnt {
  border-color: #06c;
}
