.fieldSeparationTitle {
  margin-top: 6px;
  font-size: 14px;
  margin-left: 14px;
  color: #0679c8;
}

.separationLine {
  width: 94%;
  margin: 0;
  margin-left: 14px;
  height: 1px;
  background-color: darkgray;
}

.subHeaderNote {
  margin-left: 14px;
}

#hint-drawer-field-container div:nth-last-child(1) {
  padding-bottom: 15px;
}

.field-search-bar {
  margin-top: 60px;
  margin-left: 13px;
}

.searchbox-field {
  width: 95%;
}
