.dashlet-toolbar {
  outline: 0 none !important;
}

.hint-news-dashlet .btn-toolbar.pull-right {
  display: flex;
  padding-left: 30px;
}

.hint-news-dashlet .dashlet-title {
  text-indent: 25px;
}

.hint-news-dashlet .dashlet-title::before {
  left: 12px;
  width: 18px;
  height: 18px;
  text-indent: 0;
  font-size: 16px;
  position: absolute;
  content: '\f1ea';
  font-family: FontAwesome;
  font-weight: normal;
  display: inline-block;
}

.hint-news-dashlet-search {
  padding: 2px 0;
  position: relative;
  display: inline-block;
}

#hint-news-dashlet-searchinput {
  color: var(--text-color);
  box-shadow: none;
  border-radius: 2px;
  width: inherit;
  padding: 2px 32px 2px 10px;
  outline: 0 none !important;
  border: 1px solid #000 !important;
}

#hint-news-dashlet-resetbtn,
#hint-news-dashlet-searchbtn {
  top: 3px;
  width: 22px;
  height: 22px;
  border: 0 none;
  color: var(--text-color);
  position: absolute;
  font-weight: normal;
  background-color: var(--input-background);
  outline: none !important;
}

#hint-news-dashlet-resetbtn:hover,
#hint-news-dashlet-searchbtn:hover {
  background: var(--dropdown-link-background-hover);
}

#hint-news-dashlet-resetbtn::before,
#hint-news-dashlet-searchbtn::before {
  display: block;
  margin-top: -3px;
}

#hint-news-dashlet-resetbtn {
  right: 27px;
}

#hint-news-dashlet-searchbtn {
  right: 5px;
  background-color: var(--input-background);
  color: var(--text-color);
}

.hint-news-dashlet-auto-notifier {
  display: flex;
  width: 160px;
  height: 40px;
  color: #fff;
  border-radius: 20px;
  background-color: #41b7d1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold;
  align-items: center;
  text-indent: 20px;
  transition: opacity 0.5s, z-index 0.5s;
}

.hint-news-dashlet-auto-notifier::after {
  right: 15px;
  content: '\f062';
  font-family: FontAwesome;
  color: #fff;
  position: absolute;
  font-weight: normal;
}

.hint-news-dashlet-auto-notifier.vanished {
  opacity: 0;
  z-index: -1;
}

.hint-news-dashlet-auto-notifier:not(.vanished) {
  opacity: 1;
  z-index: 1;
}
