.stage2-preferences-drawer.main-pane .headerpane {
  z-index: 1003;
}

.stage2-preferences-drawer.main-pane + .sidebar-content .headerpane {
  position: absolute;
  top: 0;
  z-index: -1;
}

.stage2-notifications-prefs {
  padding: 15px 20px;
}

.stage2-notifications-prefs-title {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 15px;
}

.stage2-notifications-pref {
  display: flex;
  justify-content: space-between;
}

.stage2-preference-responsive-ct {
  display: flex;
  flex-wrap: wrap;
}

.stage2-preference-responsive {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 10px 3px 0;
}

.stage2-notifications-pref-label {
  height: 28px;
  line-height: 28px;
}

.stage2-notifications-pref-label:first-child {
  margin: 0 10px 0 0;
}

.stage2-notifications-pref-label:not(:first-child) {
  margin: 0 10px;
}

.stage2-notifications-pref-cat.short {
  width: 130px;
}

.stage2-notifications-pref-cat.long {
  width: 340px;
}

.stage2-notifications-pref-tags {
  width: 164px;
  border-width: 1px;
  border-color: #9b9b9b;
  border-style: solid;
  position: relative;
  border-radius: 3px;
}

.stage2-notifications-pref-tags::before {
  content: '\f002';
  font-family: FontAwesome;
  display: inline-block;
  right: 4px;
  top: 4px;
  position: absolute;
  font-size: 15px;
  color: #9b9b9b;
  z-index: 1;
}

.stage2-notifications-pref-tags .select2-choices {
  border: none !important;
  max-width: 138px !important;
  box-shadow: none !important;
}

.stage2-notifications-pref-cat .select2-choice,
.stage2-notifications-pref-news-cat .select2-choice {
  border: 1px solid #9b9b9b !important;
}

.stage2-notifications-pref-news-cat {
  width: 140px;
}

.stage2-notification-pref-addbtn,
.stage2-notification-pref-removebtn {
  padding: 0;
  outline: 0 none;
  color: #9b9b9b;
  min-height: 28px;
  min-width: 30px;
  max-height: 28px;
  border-radius: 3px;
  background-color: white;
  border-width: 1px;
  border-color: #9b9b9b;
  border-style: solid;
}

.stage2-notification-pref-addbtn.fake,
.stage2-notification-pref-removebtn.fake {
  opacity: 0.7;
  cursor: normal;
}

.stage2-notification-pref-addbtn.real:active,
.stage2-notification-pref-removebtn.real:active {
  box-shadow: 0 0 20px 0 #acacac inset;
}

.stage2-notifications-prefs .select2-arrow b::before {
  color: #9b9b9b;
}

.stage2-notifications-emptyline {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.stage2-notification-key {
  display: flex;
  margin: 20px 0 0;
}

.stage2-notification-key-left {
  flex: 0 0 25px;
}

.stage2-notification-key-right {
  flex: 1 1 100%;
  padding: 3px 0 0 15px;
}

.stage2-notification-key-title {
  font-weight: bold;
}

.stage2-notification-icon .text-fa {
  font-size: 8px;
  margin-top: 2px;
  font-weight: bold;
}

.stage2-notification-icon .fa {
  font-size: 14px;
}

.stage2-notification-icon .fa-stack-1x.icon-disabled {
  color: #9b9b9b;
}

.stage2-notification-icon .fa-stack-1x:not(.icon-disabled) {
  color: #167bc5;
}

.stage2-notifications-pref-icon {
  padding-top: 2px;
}

.stage2-preficon-icon {
  width: 28px !important;
}

.stage2-preficon-box {
  position: relative;
}

.stage2-preficon-box .stage2-preficon-input {
  position: absolute;
  left: 6px;
  top: 1px;
  width: 16px;
  height: 16px;
  z-index: 1;
  opacity: 0;
}

.stage2-preficon-icon .fa.fa-stack-1x {
  font-size: 14px;
  position: relative;
}

.stage2-preficon-icon span.fa-stack-1x {
  top: 0;
  font-size: 8px;
  margin: 2px 0 0;
}

.stage2-preficon-box .stage2-preficon-input:checked + .stage2-preficon-icon .fa-stack-1x,
.stage2-preficon-box .stage2-preficon-input:checked + .stage2-preficon-icon .fa-stack-1x::before {
  color: #167bc5;
}

.stage2-preficon-box .stage2-preficon-input:not(:checked) + .stage2-preficon-icon .fa-stack-1x,
.stage2-preficon-box .stage2-preficon-input:not(:checked) + .stage2-preficon-icon .fa-stack-1x::before {
  color: #9b9b9b;
}

.notificationsToggleOption {
  margin-top: 0;
  margin-left: 15px;
}
