.hint-node-contacts {
  margin: 0 14px;
  position: relative;
  background: #fff;
  border-left: 1px solid #dcdee2;
  border-right: 1px solid #dcdee2;
  height: 257px;
  overflow: auto;
  list-style: none;
}

.hint-node-contacts .loading {
  width: 100%;
  height: 40px;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.hint-node-contacts-list {
  margin: 0;
}

.hint-node-contacts-list .items {
  height: 40px;
  padding: 10px;
  background: #f3f8fe;
  border-top: 1px solid #ddd;
}

.hint-node-contacts-list .items:not(:first-child) {
  border-top: 1px solid #ddd;
}

.hint-node-contacts-list .items i {
  position: relative;
}

.hint-node-contacts-list .items i.pull-left::after {
  background: #f2f7fc !important;
}

.hint-node-contacts-nameandphone {
  width: 100%;
  color: #000;
  position: relative;
  left: 15px;
  display: inline-block;
  bottom: 40px;
}

.hint-node-contacts-nameandphone .name {
  font-size: 14px;
}

.hint-node-contacts-nameandphone .phone {
  padding-right: 50px;
  text-align: right;
  font-size: 12px;
}

.hint-node-contacts-titleandmail {
  width: 100%;
  color: #000;
  position: relative;
  left: 15px;
  display: inline-block;
  bottom: 40px;
  margin-top: -10px;
}

.hint-node-contacts-titleandmail .email {
  padding-right: 50px;
  text-align: right;
  font-family: "Open Sans", "HelveticaNeue", Helvetica, Arial, sans-serif;
}
