.map-holder-dashlet {
  width: 100%;
  height: 100%;
}

.maps-widget-container {
  margin-left: 0;
  margin-bottom: 10px;
}

.maps-widget-header {
  background-color: @white;
  text-align: left;
  align-items: center;
  width: 100%;
  height: 42px;
  border-top: 1px solid @BorderColor;
  border-bottom: 1px solid @BorderColor;
}

.maps-widget-title {
  background-color: @headerpaneBackground;
  border: @borderWidget;
  text-align: left;
  align-items: center;
  height: 30px;
}

.map-driving-directions {
  width: 520px;
  height: 100%;
  position: relative;
  overflow: auto;
  display: none;
  background-color: @white;
}

.maps-widget-title h1 {
  font-size: 14px;
  text-decoration: none;
  color: @black;
  font-weight: bold;
  text-transform: uppercase;
}

.maps-widget-menu-buttons {
  float: right;
  height: 100%;
  align-items: center;
  display: inline-flex;
  padding-right: 10px;
}

.maps-widget-menu-buttons > * {
  margin-left: 10px;
}

.maps-widget-action {
  width: 100%;
}

.maps-widget.collapse {
  padding-bottom: 0;
}

.map-holder-list-view {
  width: 100%;
  height: 100%;
  display: none;
}

.map-holder-list-view-small {
  height: 40%;
}

.map-holder-list-view-big {
  height: 60%;
}

.map-no-records {
  height: 100%;
  text-align: center;
  align-items: center;
  display: grid;
}

.map-small-left-padding {
  padding-left: 5px;
}

.maps-mr-20 {
  margin-right: 20px;
}

.maps-display-flex {
  display: flex;
}

.map-loading-screen-overlay {
  height: inherit;
  width: inherit;
  background-color: @transparent;
  position: absolute;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map-container-inherit {
  height: 100%;
  position: relative;
}

.map-max-size {
  height: 100%;
  width: 100%;
}

.map-loading-icon {
  flex-shrink: 0;
  font-size: 25px;
}

.map-loading-label {
  border: @transparent;
  color: @labelColor;
}

.map-holder-drawer {
  width: 100%;
  height: 100%;
}

.main-map-container {
  width: inherit;
  height: inherit;
  display: inline-flex;
}

.map-admin-border-right {
  border-right: 1px solid #ddd;
}

.dataTable .maps-table-tbody-td {
  border-right: 1px solid @hrBorder;
  max-width: 300px;
}

.row-fluid .map-admin-side-pain {
  position: absolute;
  right: 1.05%;
  top: 51px;
  bottom: 0;
}

.maps-small-margin-right {
  margin-right: 10px;
}

.maps-module-mappings .row-fluid .record-cell:not(:first-child) {
  margin-left: 0;
}

.dataTable .maps-config-th-min-width {
  min-width: 180px;
}

.map-floating-panel {
  z-index: 1;
  position: absolute;
  background-color: @headerpaneBackground;
  border: solid 1px gainsboro;
  margin: 10px;
  box-shadow: -3px 4px gainsboro;
  left: 20px;
}

.main-pane.row-fluid.span12.maps-panel-content {
  margin-left: 0;
}

.maps-input-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 0;
}

.record-cell .maps-input-label {
  border-width: 0;
  box-shadow: none;
}

.select2-container .select2-container-multi .select2-choices.maps-input-label {
  border-width: 0;
  box-shadow: none;
}

.map-admin-side-pain .reorderable-columns .record-edit-link-wrapper {
  z-index: 2;
}

.map-admin-side-pain .reorderable-columns .record-edit-link-wrapper .sicon-edit {
  z-index: 2;
  top: 7px;
  left: -5px;
}

.map-admin-side-pain table.reorderable-columns th[data-fieldname]>div>input[class="maps-input-label"] {
  width: 95%;
  left: 8px;
}

.map-admin-side-pain table.reorderable-columns th[data-fieldname]>div>a[data-action="remove-column"] {
  z-index: 3;
}

.main-pane.map-admin-border-right.span3 .record .row-fluid .span12.record-cell {
  margin-left: 0;
}

.map-close-button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: @white;
  margin-top: 8.7rem;
  margin-left: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: none;
  box-shadow: 0 2px 4px 1px;
  color: #00000026;
  z-index: 100;

  &:hover {
    background-image: none;
    background-color: #f5f5f5;
  }

  &:active {
    background-image: none;
    background-color: #f5f5f5;
  }
}

.map-expand-button {
  .map-close-button;

  margin-top: 6.2rem;
}

.map-to-email-button {
  .map-close-button;

  margin-top: 3.7rem;
}

.map-to-pdf-button {
  .map-close-button;

  margin-top: 1.2rem;
}

.map-infobox-container {
  .rounded;
  .border-solid;
  .border;
  .p-1;
  .opacity-80;

  background-color: #313030;
  border-color: #313030;
  color: @white;
  width: 240px;
}

.map-infobox-details-container {
  min-height: 20px;
  word-wrap: break-word;
}

.map-infobox-title {
  .tbold;

  color: #52c8fb;
}
