// Scaffolding
// --------------------------------------------------

// Body reset
// -------------------------
body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
}

// General override to prevent browser default styles
// -------------------------
*,
::after,
::before {
  border: 0 solid;
}

// Links
// -------------------------

a {
  color: @linkColor;
  text-decoration: none;
}

a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}

// Images
// -------------------------

// Add polaroid-esque trim
.img-polaroid {
  padding: 4px;
  background-color: @white;
  border: @borderWidget;
  box-shadow: 0 1px 3px @gray90;
}
