/*------------------------
	icons
-------------------------*/
@sicon-arrow-down: "\ea03";
@sicon-chevron-left: "\ea05";
@sicon-check: "\ea07";
@sicon-clock: "\ea08";
@sicon-dashboard-default: "\ea09";
@sicon-dashboard: "\ea0a";
@sicon-edit: "\ea0b";
@sicon-caret-down: "\ea0c";
@sicon-folder: "\ea0d";
@sicon-info: "\ea0e";
@sicon-kebab: "\ea0f";
@sicon-link: "\ea10";
@sicon-list: "\ea11";
@sicon-logout: "\ea12";
@sicon-minus: "\ea13";
@sicon-folder-open: "\ea14";
@sicon-plus-sm: "\ea15";
@sicon-refresh: "\ea16";
@sicon-plus: "\ea17";
@sicon-settings: "\ea19";
@sicon-arrow-right-double: "\ea1a";
@sicon-reports: "\ea1b";
@sicon-user: "\ea1c";
@sicon-upload: "\ea1d";
@sicon-user-group: "\ea1e";
@sicon-arrow-left-double: "\ea1f";
@sicon-chevron-up: "\ea20";
@sicon-caret-up: "\ea22";
@sicon-star-fill: "\ea23";
@sicon-download: "\ea24";
@sicon-close: "\ea25";
@sicon-tile-view: "\ea26";
@sicon-list-view: "\ea27";
@sicon-thumbs-down: "\ea28";
@sicon-warning-circle: "\ea29";
@sicon-phone: "\ea2a";
@sicon-email: "\ea2b";
@sicon-document: "\ea2c";
@sicon-note: "\ea2d";
@sicon-preview: "\ea2e";
@sicon-copy: "\ea2f";
@sicon-launch: "\ea30";
@sicon-lock: "\ea32";
@sicon-arrow-top-right: "\ea33";
@sicon-full-screen: "\ea34";
@sicon-full-screen-exit: "\ea35";
@sicon-expand-left: "\ea36";
@sicon-expand-right: "\ea37";
@sicon-focus-drawer: "\ea38";
@sicon-ban: "\ea39";
@sicon-thumbs-up: "\ea3a";
@sicon-search: "\ea3b";
@sicon-calendar: "\ea3c";
@sicon-calendar-lg: "\ea3d";
@sicon-mobile-lg: "\ea3e";
@sicon-star-fill-lg: "\ea3f";
@sicon-star-outline-lg: "\ea40";
@sicon-reset-lg: "\ea41";
@sicon-exchange-lg: "\ea42";
@sicon-help-lg: "\ea43";
@sicon-close-lg: "\ea44";
@sicon-plus-lg: "\ea45";
@sicon-shortcuts-lg: "\ea46";
@sicon-search-lg: "\ea47";
@sicon-email-lg: "\ea49";
@sicon-note-lg: "\ea4a";
@sicon-document-lg: "\ea4b";
@sicon-add-dashlet-lg: "\ea4c";
@sicon-collapse-lg: "\ea4d";
@sicon-hamburger-lg: "\ea4e";
@sicon-pin-fill-lg: "\ea4f";
@sicon-expand-lg: "\ea50";
@sicon-copy-lg: "\ea51";
@sicon-dashboard-lg: "\ea52";
@sicon-star-outline: "\ea54";
@sicon-reset: "\ea55";
@sicon-unlink: "\ea56";
@sicon-phone-lg: "\ea57";
@sicon-attach: "\ea59";
@sicon-case-lg: "\ea5a";
@sicon-arrow-right-lg: "\ea5b";
@sicon-check-circle-lg: "\ea5c";
@sicon-text-formatting: "\ea5d";
@sicon-check-circle: "\ea5e";
@sicon-upload-lg: "\ea5f";
@sicon-flag-lg: "\ea60";
@sicon-studio-lg: "\ea63";
@sicon-contact-lg: "\ea65";
@sicon-edit-lg: "\ea66";
@sicon-arrow-left: "\ea67";
@sicon-reply-all: "\ea69";
@sicon-message-lg: "\ea6a";
@sicon-info-lg: "\ea6b";
@sicon-error-lg: "\ea6c";
@sicon-check-circle-line-lg: "\ea6d";
@sicon-warning-line-lg: "\ea6e";
@sicon-arrow-up: "\ea6f";
@sicon-arrow-right: "\ea70";
@sicon-nodes: "\ea71";
@sicon-hide: "\ea72";
@sicon-help: "\ea73";
@sicon-twitter: "\ea74";
@sicon-message: "\ea75";
@sicon-sugar-predict-lg: "\ea78";
@sicon-sugar-predict: "\ea7b";
@sicon-opportunity-lg: "\ea7d";
@sicon-lead-lg: "\ea7e";
@sicon-account-lg: "\ea7f";
@sicon-user-sm: "\ea80";
@sicon-quote-lg: "\ea81";
@sicon-equal: "\ea94";
@sicon-slicers-xl: "\ea95";
@sicon-escalation-lg: "\ea96";
@sicon-add-circle-lg: "\ea97";
@sicon-add-line-lg: "\ea98";
@sicon-add-target-lg: "\ea99";
@sicon-help-circle-lg: "\ea9a";
@sicon-divide-line-lg: "\ea9b";
@sicon-string: "\ea9c";
@sicon-filter: "\ea9d";
@sicon-number: "\ea9e";
@sicon-format-lg: "\ea9f";
@sicon-insights-lg: "\eaa0";
@sicon-invalid-circle-lg: "\eaa1";
@sicon-layout-xl: "\eaa2";
@sicon-layout-lg: "\eaa3";
@sicon-multiply-line-lg: "\eaa4";
@sicon-redo-lg: "\eaa7";
@sicon-refresh-lg: "\eaa8";
@sicon-undo-lg: "\eaac";
@sicon-activity-feed-xl: "\eaad";
@sicon-chevron-left-xl: "\eaae";
@sicon-close-xl: "\eaaf";
@sicon-kebab-lg: "\eab1";
@sicon-insights-xl: "\eab3";
@sicon-hide-lg: "\eab4";
@sicon-kebab-xl: "\eab5";
@sicon-comment-xl: "\eab8";
@sicon-share-lg: "\eab9";
@sicon-trash: "\eaba";
@sicon-launch-lg: "\eabb";
@sicon-thumbs-up-lg: "\eabf";
@sicon-thumbs-down-lg: "\eac0";
@sicon-warning-lg: "\eac1";
@sicon-wizard-circle-xl: "\eac2";
@sicon-bell-cross-lg: "\eac4";
@sicon-bell-lg: "\eac5";
@sicon-daily-lg: "\eac6";
@sicon-cloud-download-lg: "\eac7";
@sicon-unlock: "\eac8";
@sicon-news-lg: "\eac9";
@sicon-weekly-lg: "\eaca";
@sicon-knowledgebase-xl: "\eacb";
@sicon-remove: "\eacc";
@sicon-chevron-down: "\eacd";
@sicon-slicers-lg: "\eace";
@sicon-save-lg: "\eacf";
@sicon-info-circle-lg: "\ead0";
@sicon-chevron-right: "\ead1";
@sicon-warning-circle-lg: "\ead2";
@sicon-right-paren-line-lg: "\ead3";
@sicon-comment-lg: "\ead4";
@sicon-target-lg: "\ead5";
@sicon-subtract-line-lg: "\ead6";
@sicon-settings-lg: "\ead7";
@sicon-left-paren-line-lg: "\ead8";
@sicon-preview-lg: "\ead9";
@sicon-thumbs-down-line-lg: "\eada";
@sicon-thumbs-up-line-lg: "\eadb";
@sicon-send-lg: "\eadc";
@sicon-contact-xl: "\eadd";
@sicon-wizard-circle-line-xl: "\eade";
@sicon-trash-lg: "\eadf";
@sicon-pin-lg: "\eae0";
@sicon-clock-lg: "\eae1";
@sicon-comment-line-xl: "\eae2";
@sicon-dropdown-editor: "\eae5";
@sicon-amazon: "\eae6";
@sicon-bug: "\eae7";
@sicon-catalog: "\eae8";
@sicon-cloud: "\eae9";
@sicon-config-api: "\eaea";
@sicon-config-nav: "\eaeb";
@sicon-connectors: "\eaec";
@sicon-contracts: "\eaed";
@sicon-currencies: "\eaee";
@sicon-diagnostics: "\eaef";
@sicon-sugar-club: "\eaf0";
@sicon-email-campaign: "\eaf1";
@sicon-email-inbound: "\eaf2";
@sicon-email-queue: "\eaf3";
@sicon-forecasts: "\eaf4";
@sicon-display-modules: "\eaf5";
@sicon-email-contacts: "\eaf6";
@sicon-import: "\eaf7";
@sicon-log-viewer: "\eaf8";
@sicon-lab: "\eaf9";
@sicon-map-pin: "\eafa";
@sicon-manufacturers: "\eafb";
@sicon-update: "\eafc";
@sicon-content-security: "\eafd";
@sicon-module-builder: "\eafe";
@sicon-languages: "\eaff";
@sicon-module-loader: "\eb00";
@sicon-oauth-key: "\eb01";
@sicon-password-mgmt: "\eb02";
@sicon-opportunities: "\eb03";
@sicon-upgrade: "\eb04";
@sicon-portal: "\eb05";
@sicon-product-types: "\eb06";
@sicon-quotes: "\eb07";
@sicon-relate-fields: "\eb08";
@sicon-repair: "\eb09";
@sicon-role-mgmt: "\eb0a";
@sicon-scheduler: "\eb0b";
@sicon-shippers: "\eb0c";
@sicon-studio: "\eb0d";
@sicon-web-logic: "\eb0e";
@sicon-sugar-u: "\eb0f";
@sicon-tax-rates: "\eb10";
@sicon-team-mgmt: "\eb11";
@sicon-team-perm: "\eb12";
@sicon-tracker: "\eb13";
@sicon-workflow: "\eb15";
@sicon-mask: "\eb16";
@sicon-mask-disabled: "\eb17";
@sicon-email-archive: "\eb18";
@sicon-mobile: "\eb19";
@sicon-archive: "\eb1a";
@sicon-pdf-manager: "\eb1c";
@sicon-my-sites: "\eb1d";
@sicon-cloud-insights: "\eb1e";
@sicon-sugar-logo-24: "\eb1f";
@sicon-sugar-logo-16: "\eb20";
@sicon-task-lg: "\eb22";
@sicon-web-lg: "\eb23";
@sicon-events-lg: "\eb24";
@sicon-sugar-logo-12: "\eb25";
@sicon-tag: "\eb27";
@sicon-tag-lg: "\eb28";
@sicon-bell-lg-line: "\ea01";

.sicon-arrow-down::before {
  content: @sicon-arrow-down;
}

.sicon-chevron-left::before {
  content: @sicon-chevron-left;
}

.sicon-check::before {
  content: @sicon-check;
}

.sicon-clock::before {
  content: @sicon-clock;
}

.sicon-dashboard-default::before {
  content: @sicon-dashboard-default;
}

.sicon-dashboard::before {
  content: @sicon-dashboard;
}

.sicon-edit::before {
  content: @sicon-edit;
}

.sicon-caret-down::before {
  content: @sicon-caret-down;
}

.sicon-folder::before {
  content: @sicon-folder;
}

.sicon-info::before {
  content: @sicon-info;
}

.sicon-kebab::before {
  content: @sicon-kebab;
}

.sicon-link::before {
  content: @sicon-link;
}

.sicon-list::before {
  content: @sicon-list;
}

.sicon-logout::before {
  content: @sicon-logout;
}

.sicon-minus::before {
  content: @sicon-minus;
}

.sicon-folder-open::before {
  content: @sicon-folder-open;
}

.sicon-plus-sm::before {
  content: @sicon-plus-sm;
}

.sicon-refresh::before {
  content: @sicon-refresh;
}

.sicon-plus::before {
  content: @sicon-plus;
}

.sicon-settings::before {
  content: @sicon-settings;
}

.sicon-arrow-right-double::before {
  content: @sicon-arrow-right-double;
}

.sicon-reports::before {
  content: @sicon-reports;
}

.sicon-user::before {
  content: @sicon-user;
}

.sicon-upload::before {
  content: @sicon-upload;
}

.sicon-user-group::before {
  content: @sicon-user-group;
}

.sicon-arrow-left-double::before {
  content: @sicon-arrow-left-double;
}

.sicon-chevron-up::before {
  content: @sicon-chevron-up;
}

.sicon-caret-up::before {
  content: @sicon-caret-up;
}

.sicon-star-fill::before {
  content: @sicon-star-fill;
}

.sicon-download::before {
  content: @sicon-download;
}

.sicon-close::before {
  content: @sicon-close;
}

.sicon-tile-view::before {
  content: @sicon-tile-view;
}

.sicon-list-view::before {
  content: @sicon-list-view;
}

.sicon-thumbs-down::before {
  content: @sicon-thumbs-down;
}

.sicon-warning-circle::before {
  content: @sicon-warning-circle;
}

.sicon-phone::before {
  content: @sicon-phone;
}

.sicon-email::before {
  content: @sicon-email;
}

.sicon-document::before {
  content: @sicon-document;
}

.sicon-note::before {
  content: @sicon-note;
}

.sicon-preview::before {
  content: @sicon-preview;
}

.sicon-copy::before {
  content: @sicon-copy;
}

.sicon-launch::before {
  content: @sicon-launch;
}

.sicon-lock::before {
  content: @sicon-lock;
}

.sicon-arrow-top-right::before {
  content: @sicon-arrow-top-right;
}

.sicon-full-screen::before {
  content: @sicon-full-screen;
}

.sicon-full-screen-exit::before {
  content: @sicon-full-screen-exit;
}

.sicon-expand-left::before {
  content: @sicon-expand-left;
}

.sicon-expand-right::before {
  content: @sicon-expand-right;
}

.sicon-focus-drawer::before {
  content: @sicon-focus-drawer;
}

.sicon-ban::before {
  content: @sicon-ban;
}

.sicon-thumbs-up::before {
  content: @sicon-thumbs-up;
}

.sicon-search::before {
  content: @sicon-search;
}

.sicon-calendar::before {
  content: @sicon-calendar;
}

.sicon-calendar-lg::before {
  content: @sicon-calendar-lg;
}

.sicon-mobile-lg::before {
  content: @sicon-mobile-lg;
}

.sicon-star-fill-lg::before {
  content: @sicon-star-fill-lg;
}

.sicon-star-outline-lg::before {
  content: @sicon-star-outline-lg;
}

.sicon-reset-lg::before {
  content: @sicon-reset-lg;
}

.sicon-exchange-lg::before {
  content: @sicon-exchange-lg;
}

.sicon-help-lg::before {
  content: @sicon-help-lg;
}

.sicon-close-lg::before {
  content: @sicon-close-lg;
}

.sicon-plus-lg::before {
  content: @sicon-plus-lg;
}

.sicon-shortcuts-lg::before {
  content: @sicon-shortcuts-lg;
}

.sicon-search-lg::before {
  content: @sicon-search-lg;
}

.sicon-email-lg::before {
  content: @sicon-email-lg;
}

.sicon-note-lg::before {
  content: @sicon-note-lg;
}

.sicon-document-lg::before {
  content: @sicon-document-lg;
}

.sicon-add-dashlet-lg::before {
  content: @sicon-add-dashlet-lg;
}

.sicon-collapse-lg::before {
  content: @sicon-collapse-lg;
}

.sicon-hamburger-lg::before {
  content: @sicon-hamburger-lg;
}

.sicon-pin-fill-lg::before {
  content: @sicon-pin-fill-lg;
}

.sicon-expand-lg::before {
  content: @sicon-expand-lg;
}

.sicon-copy-lg::before {
  content: @sicon-copy-lg;
}

.sicon-dashboard-lg::before {
  content: @sicon-dashboard-lg;
}

.sicon-star-outline::before {
  content: @sicon-star-outline;
}

.sicon-reset::before {
  content: @sicon-reset;
}

.sicon-unlink::before {
  content: @sicon-unlink;
}

.sicon-phone-lg::before {
  content: @sicon-phone-lg;
}

.sicon-attach::before {
  content: @sicon-attach;
}

.sicon-case-lg::before {
  content: @sicon-case-lg;
}

.sicon-arrow-right-lg::before {
  content: @sicon-arrow-right-lg;
}

.sicon-check-circle-lg::before {
  content: @sicon-check-circle-lg;
}

.sicon-text-formatting::before {
  content: @sicon-text-formatting;
}

.sicon-check-circle::before {
  content: @sicon-check-circle;
}

.sicon-upload-lg::before {
  content: @sicon-upload-lg;
}

.sicon-flag-lg::before {
  content: @sicon-flag-lg;
}

.sicon-studio-lg::before {
  content: @sicon-studio-lg;
}

.sicon-contact-lg::before {
  content: @sicon-contact-lg;
}

.sicon-edit-lg::before {
  content: @sicon-edit-lg;
}

.sicon-arrow-left::before {
  content: @sicon-arrow-left;
}

.sicon-reply-all::before {
  content: @sicon-reply-all;
}

.sicon-message-lg::before {
  content: @sicon-message-lg;
}

.sicon-info-lg::before {
  content: @sicon-info-lg;
}

.sicon-error-lg::before {
  content: @sicon-error-lg;
}

.sicon-check-circle-line-lg::before {
  content: @sicon-check-circle-line-lg;
}

.sicon-warning-line-lg::before {
  content: @sicon-warning-line-lg;
}

.sicon-arrow-up::before {
  content: @sicon-arrow-up;
}

.sicon-arrow-right::before {
  content: @sicon-arrow-right;
}

.sicon-nodes::before {
  content: @sicon-nodes;
}

.sicon-hide::before {
  content: @sicon-hide;
}

.sicon-help::before {
  content: @sicon-help;
}

.sicon-twitter::before {
  content: @sicon-twitter;
}

.sicon-message::before {
  content: @sicon-message;
}

.sicon-sugar-predict-lg::before {
  content: @sicon-sugar-predict-lg;
}

.sicon-sugar-predict::before {
  content: @sicon-sugar-predict;
}

.sicon-opportunity-lg::before {
  content: @sicon-opportunity-lg;
}

.sicon-lead-lg::before {
  content: @sicon-lead-lg;
}

.sicon-account-lg::before {
  content: @sicon-account-lg;
}

.sicon-user-sm::before {
  content: @sicon-user-sm;
}

.sicon-quote-lg::before {
  content: @sicon-quote-lg;
}

.sicon-equal::before {
  content: @sicon-equal;
}

.sicon-slicers-xl::before {
  content: @sicon-slicers-xl;
}

.sicon-escalation-lg::before {
  content: @sicon-escalation-lg;
}

.sicon-add-circle-lg::before {
  content: @sicon-add-circle-lg;
}

.sicon-add-line-lg::before {
  content: @sicon-add-line-lg;
}

.sicon-add-target-lg::before {
  content: @sicon-add-target-lg;
}

.sicon-help-circle-lg::before {
  content: @sicon-help-circle-lg;
}

.sicon-divide-line-lg::before {
  content: @sicon-divide-line-lg;
}

.sicon-string::before {
  content: @sicon-string;
}

.sicon-filter::before {
  content: @sicon-filter;
}

.sicon-number::before {
  content: @sicon-number;
}

.sicon-format-lg::before {
  content: @sicon-format-lg;
}

.sicon-insights-lg::before {
  content: @sicon-insights-lg;
}

.sicon-invalid-circle-lg::before {
  content: @sicon-invalid-circle-lg;
}

.sicon-layout-xl::before {
  content: @sicon-layout-xl;
}

.sicon-layout-lg::before {
  content: @sicon-layout-lg;
}

.sicon-multiply-line-lg::before {
  content: @sicon-multiply-line-lg;
}

.sicon-redo-lg::before {
  content: @sicon-redo-lg;
}

.sicon-refresh-lg::before {
  content: @sicon-refresh-lg;
}

.sicon-undo-lg::before {
  content: @sicon-undo-lg;
}

.sicon-activity-feed-xl::before {
  content: @sicon-activity-feed-xl;
}

.sicon-chevron-left-xl::before {
  content: @sicon-chevron-left-xl;
}

.sicon-close-xl::before {
  content: @sicon-close-xl;
}

.sicon-kebab-lg::before {
  content: @sicon-kebab-lg;
}

.sicon-insights-xl::before {
  content: @sicon-insights-xl;
}

.sicon-hide-lg::before {
  content: @sicon-hide-lg;
}

.sicon-kebab-xl::before {
  content: @sicon-kebab-xl;
}

.sicon-comment-xl::before {
  content: @sicon-comment-xl;
}

.sicon-share-lg::before {
  content: @sicon-share-lg;
}

.sicon-trash::before {
  content: @sicon-trash;
}

.sicon-launch-lg::before {
  content: @sicon-launch-lg;
}

.sicon-thumbs-up-lg::before {
  content: @sicon-thumbs-up-lg;
}

.sicon-thumbs-down-lg::before {
  content: @sicon-thumbs-down-lg;
}

.sicon-warning-lg::before {
  content: @sicon-warning-lg;
}

.sicon-wizard-circle-xl::before {
  content: @sicon-wizard-circle-xl;
}

.sicon-bell-cross-lg::before {
  content: @sicon-bell-cross-lg;
}

.sicon-bell-lg::before {
  content: @sicon-bell-lg;
}

.sicon-daily-lg::before {
  content: @sicon-daily-lg;
}

.sicon-cloud-download-lg::before {
  content: @sicon-cloud-download-lg;
}

.sicon-unlock::before {
  content: @sicon-unlock;
}

.sicon-news-lg::before {
  content: @sicon-news-lg;
}

.sicon-weekly-lg::before {
  content: @sicon-weekly-lg;
}

.sicon-knowledgebase-xl::before {
  content: @sicon-knowledgebase-xl;
}

.sicon-remove::before {
  content: @sicon-remove;
}

.sicon-chevron-down::before {
  content: @sicon-chevron-down;
}

.sicon-slicers-lg::before {
  content: @sicon-slicers-lg;
}

.sicon-save-lg::before {
  content: @sicon-save-lg;
}

.sicon-info-circle-lg::before {
  content: @sicon-info-circle-lg;
}

.sicon-chevron-right::before {
  content: @sicon-chevron-right;
}

.sicon-warning-circle-lg::before {
  content: @sicon-warning-circle-lg;
}

.sicon-right-paren-line-lg::before {
  content: @sicon-right-paren-line-lg;
}

.sicon-comment-lg::before {
  content: @sicon-comment-lg;
}

.sicon-target-lg::before {
  content: @sicon-target-lg;
}

.sicon-subtract-line-lg::before {
  content: @sicon-subtract-line-lg;
}

.sicon-settings-lg::before {
  content: @sicon-settings-lg;
}

.sicon-left-paren-line-lg::before {
  content: @sicon-left-paren-line-lg;
}

.sicon-preview-lg::before {
  content: @sicon-preview-lg;
}

.sicon-thumbs-down-line-lg::before {
  content: @sicon-thumbs-down-line-lg;
}

.sicon-thumbs-up-line-lg::before {
  content: @sicon-thumbs-up-line-lg;
}

.sicon-send-lg::before {
  content: @sicon-send-lg;
}

.sicon-contact-xl::before {
  content: @sicon-contact-xl;
}

.sicon-wizard-circle-line-xl::before {
  content: @sicon-wizard-circle-line-xl;
}

.sicon-trash-lg::before {
  content: @sicon-trash-lg;
}

.sicon-pin-lg::before {
  content: @sicon-pin-lg;
}

.sicon-clock-lg::before {
  content: @sicon-clock-lg;
}

.sicon-comment-line-xl::before {
  content: @sicon-comment-line-xl;
}

.sicon-dropdown-editor::before {
  content: @sicon-dropdown-editor;
}

.sicon-amazon::before {
  content: @sicon-amazon;
}

.sicon-bug::before {
  content: @sicon-bug;
}

.sicon-catalog::before {
  content: @sicon-catalog;
}

.sicon-cloud::before {
  content: @sicon-cloud;
}

.sicon-config-api::before {
  content: @sicon-config-api;
}

.sicon-config-nav::before {
  content: @sicon-config-nav;
}

.sicon-connectors::before {
  content: @sicon-connectors;
}

.sicon-contracts::before {
  content: @sicon-contracts;
}

.sicon-currencies::before {
  content: @sicon-currencies;
}

.sicon-diagnostics::before {
  content: @sicon-diagnostics;
}

.sicon-sugar-club::before {
  content: @sicon-sugar-club;
}

.sicon-email-campaign::before {
  content: @sicon-email-campaign;
}

.sicon-email-inbound::before {
  content: @sicon-email-inbound;
}

.sicon-email-queue::before {
  content: @sicon-email-queue;
}

.sicon-forecasts::before {
  content: @sicon-forecasts;
}

.sicon-display-modules::before {
  content: @sicon-display-modules;
}

.sicon-email-contacts::before {
  content: @sicon-email-contacts;
}

.sicon-import::before {
  content: @sicon-import;
}

.sicon-log-viewer::before {
  content: @sicon-log-viewer;
}

.sicon-lab::before {
  content: @sicon-lab;
}

.sicon-map-pin::before {
  content: @sicon-map-pin;
}

.sicon-manufacturers::before {
  content: @sicon-manufacturers;
}

.sicon-update::before {
  content: @sicon-update;
}

.sicon-content-security::before {
  content: @sicon-content-security;
}

.sicon-module-builder::before {
  content: @sicon-module-builder;
}

.sicon-languages::before {
  content: @sicon-languages;
}

.sicon-module-loader::before {
  content: @sicon-module-loader;
}

.sicon-oauth-key::before {
  content: @sicon-oauth-key;
}

.sicon-password-mgmt::before {
  content: @sicon-password-mgmt;
}

.sicon-opportunities::before {
  content: @sicon-opportunities;
}

.sicon-upgrade::before {
  content: @sicon-upgrade;
}

.sicon-portal::before {
  content: @sicon-portal;
}

.sicon-product-types::before {
  content: @sicon-product-types;
}

.sicon-quotes::before {
  content: @sicon-quotes;
}

.sicon-relate-fields::before {
  content: @sicon-relate-fields;
}

.sicon-repair::before {
  content: @sicon-repair;
}

.sicon-role-mgmt::before {
  content: @sicon-role-mgmt;
}

.sicon-scheduler::before {
  content: @sicon-scheduler;
}

.sicon-shippers::before {
  content: @sicon-shippers;
}

.sicon-studio::before {
  content: @sicon-studio;
}

.sicon-web-logic::before {
  content: @sicon-web-logic;
}

.sicon-sugar-u::before {
  content: @sicon-sugar-u;
}

.sicon-tax-rates::before {
  content: @sicon-tax-rates;
}

.sicon-team-mgmt::before {
  content: @sicon-team-mgmt;
}

.sicon-team-perm::before {
  content: @sicon-team-perm;
}

.sicon-tracker::before {
  content: @sicon-tracker;
}

.sicon-workflow::before {
  content: @sicon-workflow;
}

.sicon-mask::before {
  content: @sicon-mask;
}

.sicon-mask-disabled::before {
  content: @sicon-mask-disabled;
}

.sicon-email-archive::before {
  content: @sicon-email-archive;
}

.sicon-mobile::before {
  content: @sicon-mobile;
}

.sicon-archive::before {
  content: @sicon-archive;
}

.sicon-pdf-manager::before {
  content: @sicon-pdf-manager;
}

.sicon-my-sites::before {
  content: @sicon-my-sites;
}

.sicon-cloud-insights::before {
  content: @sicon-cloud-insights;
}

.sicon-sugar-logo-24::before {
  content: @sicon-sugar-logo-24;
}

.sicon-sugar-logo-16::before {
  content: @sicon-sugar-logo-16;
}

.sicon-task-lg::before {
  content: @sicon-task-lg;
}

.sicon-web-lg::before {
  content: @sicon-web-lg;
}

.sicon-events-lg::before {
  content: @sicon-events-lg;
}

.sicon-sugar-logo-12::before {
  content: @sicon-sugar-logo-12;
}

.sicon-tag::before {
  content: @sicon-tag;
}

.sicon-tag-lg::before {
  content: @sicon-tag-lg;
}

.sicon-bell-lg-line::before {
  content: @sicon-bell-lg-line;
}

