body.sugar-light-theme,
.sugar-light-theme {
  // Indicate to the browser to use system colour scheme for radio buttons and dropdowns
  color-scheme: light;

  --active-tab-border-color: @blue;
  --tab-background-hover-color: @lightBlue;
  --alert-background: @white;
  --alert-border: transparent;
  --border-color: @gray30;
  --border-color-focus: @gray50;
  --border-color-light: @gray20;
  --btn-background: @white;
  --btn-active-background: @gray90;
  --btn-hover-background: @gray80;
  --btn-dark-invisible-background: @gray30;
  --btn-dark-invisible-background-hover: transparent;
  --btn-secondary-background: @white;
  --btn-secondary-background-active: @gray40;
  --btn-secondary-background-hover: @gray20;
  --btn-secondary-background-disabled: @white;
  --btn-secondary-border: @gray20;
  --btn-secondary-border-hover: @gray30;
  --btn-secondary-color: @gray70;
  --btn-secondary-color-hover: @gray90;
  --btn-secondary-color-disabled: @gray70;
  --btn-secondary-inset: @gray40;
  --btn-disabled-color: @gray60;
  --config-pill-background: @lightBlue;
  --config-pill-text: @darkBlue;
  --config-multifield-background: @gray10;
  --content-background: @gray10;
  --content-container-background-hover: @white;
  --content-loading-background: @gray20;
  --dashlet-background: @white;
  --dashlet-background-hover: @white;
  --dropdown-background: @white;
  --dropdown-submenu-background: @gray20;
  --dropdown-disabled-background: @gray30;
  --dropdown-link-background-active: @blue;
  --dropdown-link-background-hover: @lightBlue;
  --dropdown-link-color-hover: @blue;
  --dropdown-border-widget: none;
  --dupelicate-table-background: @lightYellow;
  --dupelicate-table-content-color: @darkYellow;
  --footer-background: @gray20;
  --headerpane-background: @gray20;
  --headerpane-side-toggle-background: @gray30;
  --headerpane-side-toggle-hover-background: @gray40;
  --inform-text-color: @ocean;
  --info-text-color: @darkOcean;
  --info-text-hover: @ocean;
  --input-background: @white;
  --input-disabled-background: @gray20;
  --label-color: @gray70;
  --label-background: @gray20;
  --link-color: @LinkColor;
  --link-color-hover: @darkBlue;
  --link-color-active: @white;
  --navbar-background: @NavigationBar;
  --navbar-border-color: @BorderColor;
  --pill-background: @lightBlue;
  --popover-arrow-color: @white;
  --primary-content-active: @gray30;
  --primary-content-background: @white;
  --primary-content-background-accent: @gray20;
  --primary-content-hover: @lightBlue;
  --primary-content-hover-background: @lightBlueHalf;
  --progress-bar-background: @gray40;
  --record-pill-hover-background: @lightBlue;
  --secondary-content-background: @gray20;
  --select2-background: @gray10;
  --select2-background-hover: @gray20;
  --separator-color: @gray40;
  --shadow-color: @gray40;
  --shadow-color-hover: @gray50;
  --sicon-color: @gray70;
  --sicon-active-color: @gray90;
  --sicon-hover-color: @blue;
  --stack-logo: url('@{baseUrl}/img/stack-light.svg');
  --stack-logo-about: url('@{baseUrl}/img/stack-light.svg');
  --subpanel-background: @gray10;
  --subpanel-background-hover: @gray30;
  --text-color: @gray90;
  --text-color-hover: @gray95;
  --text-color-inverse: @gray30;
  --text-color-light: @gray70;
  --text-disabled-color: @gray70;
}

body.sugar-dark-theme,
.sugar-dark-theme {
  // Indicate to the browser to use system colour scheme for radio buttons and dropdowns
  color-scheme: dark;

  --active-tab-border-color: @darkModeBlue;
  --tab-background-hover-color: @darkBlueHalf;
  --alert-background: @gray95;
  --alert-border: @gray90;
  --border-color: @gray80;
  --border-color-focus: @gray60;
  --border-color-light: @gray70;
  --btn-background: @black;
  --btn-active-background: @gray80;
  --btn-hover-background: @gray90;
  --btn-dark-invisible-background: @gray80;
  --btn-dark-invisible-background-hover: @gray95;
  --btn-secondary-background: @gray90;
  --btn-secondary-background-active: @gray95;
  --btn-secondary-background-hover: @gray80;
  --btn-secondary-background-disabled: @gray95;
  --btn-secondary-border: @gray80;
  --btn-secondary-border-hover: @gray70;
  --btn-secondary-color: @gray50;
  --btn-secondary-color-hover: @gray40;
  --btn-secondary-color-disabled: @gray70;
  --btn-secondary-inset: @gray90;
  --btn-disabled-color: @gray80;
  --config-pill-background: @gray90;
  --config-pill-text: @gray30;
  --config-multifield-background: @gray95;
  --content-background: @gray95;
  --content-container-background-hover: @gray6;
  --content-loading-background: @gray95;
  --dashlet-background: @black;
  --dashlet-background-hover: @gray95;
  --dupelicate-table-background: @darkModeYellowLight;
  --dupelicate-table-content-color: @lightYellow;
  --dropdown-background: @black;
  --dropdown-submenu-background: @gray98;
  --dropdown-disabled-background: @gray95;
  --dropdown-link-background-active: @gray80;
  --dropdown-link-background-hover: @gray90;
  --dropdown-link-color-hover: @white;
  --dropdown-border-widget: 1px solid @gray90;
  --footer-background: @gray98;
  --headerpane-background: @gray95;
  --headerpane-side-toggle-background: @gray80;
  --headerpane-side-toggle-hover-background: @gray90;
  --inform-text-color: @ocean;
  --info-text-color: @lightOcean;
  --info-text-hover: @ocean;
  --input-background: @black;
  --input-disabled-background: @gray95;
  --label-color: @gray60;
  --label-background: @gray70;
  --link-color: @darkModeBlue;
  --link-color-hover: @lightBlue;
  --link-color-active: @white;
  --navbar-background: @black;
  --navbar-border-color: @gray80;
  --pill-background: @gray90;
  --popover-arrow-color: @black;
  --primary-content-active: @gray95;
  --primary-content-background: @black;
  --primary-content-background-accent: @gray90;
  --primary-content-hover: @gray90;
  --primary-content-hover-background: @darkBlueHalf;
  --primary-content-hover-striped: @gray80;
  --progress-bar-background: @gray80;
  --record-pill-hover-background: @gray90;
  --secondary-content-background: @gray90;
  --select2-background: @gray95;
  --select2-background-hover: @gray90;
  --shadow-color: @gray98;
  --shadow-color-hover: @gray98;
  --separator-color: @gray80;
  --sicon-color: @gray60;
  --sicon-hover-color: @white;
  --sicon-active-color: @gray30;
  --stack-logo: url('@{baseUrl}/img/stack-dark-opacity50.svg');
  --stack-logo-about: url('@{baseUrl}/img/stack-dark-opacity70.svg');
  --subpanel-background: @gray90;
  --subpanel-background-hover: @gray98;
  --text-color: @gray30;
  --text-color-hover: @white;
  --text-color-inverse: @gray90;
  --text-color-light: @gray40;
  --text-disabled-color: @gray60;
}
