{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="ab-admin-side-pane">
    <div class="ab-admin-side-pane-part ab-admin-side-preview" data-container="ab-admin-side-preview">
    </div>
    <div class="ab-admin-side-pane-part ab-admin-side-container" data-container="ab-admin-side-container">
    </div>
</div>
