{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class='modal fade' id='publish_icalendar_modal' data-content='publish-icalendar-modal' role='dialog'>
  <div class='modal-dialog'>

    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><i class='sicon sicon-close'></i></button>
        <h4 class='modal-title'>{{str 'LBL_CALENDAR_MODAL_PUBLISH_URL' 'Calendar'}}</h4>
      </div>
      <div class='modal-body'>
        <input class='form-control' type='text' value=''>
      </div>
    </div>

  </div>
</div>
