{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="ab-parent-field">
    <div class="ab-parent-field-name">{{_fieldLabel}}
        <a class="btn btn-default" data-action="remove-field">
            <i class="sicon sicon-minus"></i>
        </a>
    </div>
    <div class="span12 record-cell edit ab-parent-field-container" data-type="text">
        <div class="labels-on-side">
            <div class="record-label-wrapper span2">
                <div class="record-label">
                    {{str "LBL_ACTIONBUTTON_PARENT_FIELD"}}
                </div>
            </div>
            <div class="record-link-wrapper span4">
                <span class="normal index">
                    <div class="edit inherit-width" data-fieldname="field">
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
