{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class='stage2-preficon-box'>
    <input type='checkbox' disabled{{#if def.tabindex}} tabindex='{{def.tabindex}}' {{/if}} class='stage2-preficon-input'>

    <div class='stage2-preficon-icon fa-stack'>
        <i class='fa fa-stack-1x {{def.icon_class}}'></i>
        {{#if def.icon_text}}<span class='fa-stack-1x'>{{def.icon_text}}</span>{{/if}}
    </div>
</div>
