{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="headerpane">
    <h1>
        <span class="record-cell">
            <span class="table-cell-wrapper">
                <span class="index" data-index="">
                    <h1>{{str this.actionButtonLabel}}</h1>
                </span>
            </span>
        </span>
        <div class="btn-toolbar pull-right">
            <span class="cancel">
                <a class="btn btn-invisible btn-link" data-action="close">{{str "LBL_ACTIONBUTTON_CANCEL"}}</a>
            </span>
            <span class="create">
                <a class="btn btn-primary" data-action="save">{{str "LBL_ACTIONBUTTON_SAVE"}}</a>
            </span>
        </div>
    </h1>
</div>
