{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#if value}}
    <div class="dashlet-open-container flex items-center">
        <span class="ellipsis_inline" data-placement="bottom" title="{{value}}">
            {{value}}
        </span>
        <a class="dashlet-open-icon-container"
           href="#{{buildRoute model=model}}"
           rel="tooltip"
           data-placement="bottom"
           title="{{str 'LBL_OPEN_RECORD_VIEW'}}">
            <i class="dashlet-open-icon sicon sicon-arrow-top-right"></i>
        </a>
    </div>
{{/if}}
