{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#unless value.length}}
    {{#if externalApi}}
        <button class="btn btn-invisible" data-action="toggleExternalApiDirection">
            {{#if externalApiDirectionFrom}}
                <i class="sicon sicon-chevron-left"></i>
                {{str 'LBL_FILE_LINK_FROM_EXTERNAL_API' module}}
            {{else}}
                <i class="sicon sicon-chevron-right"></i>
                {{str 'LBL_FILE_UPLOAD_TO_EXTERNAL_API' module}}
            {{/if}}
        </button>
    {{/if}}
{{/unless}}
