{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{!-- File name display --}}
{{#if value.length}}
    {{#each value}}
        <div class="file-field">
            <div class="square-pill{{#unless ../allowDelete}} no-delete{{/unless}}">
                <div class="ellipsis_inline" title="{{name}}" data-placement="bottom">{{name}}</div>
                {{#if ../allowDelete}}
                    <span class="sicon sicon-close" data-action="delete"></span>
                {{/if}}
            </span>
        </span>
    {{/each}}
{{/if}}
