{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="content-container-items mt-4 ml-8 mr-8">
    <div class="content-container-header mb-2">
        <h4 class="content-header mt-0 mb-2">{{{str meta.label module}}}</h4>
        <div class="content-description">{{{str meta.description module}}}</div>
    </div>
</div>
