{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#eq templateComponent.activeButtonMeta.settings.type 'dropdown'}}
    <div class="btn-group" id="{{buttonId}}_loading" is_action_button_loading="true">
        <a class="btn actionButtonLoading" data-toggle="dropdown"></a>
        <a class="btn actionButtonLoading" data-toggle="dropdown">
            <i class="sicon sicon-chevron-down actionButtonLoading"></i>
        </a>
    </div>
{{/eq}}

{{#notEq templateComponent.activeButtonMeta.settings.type 'dropdown'}}
    <a id="{{buttonId}}_loading" class="btn actionButtonLoading" data-toggle="dropdown" is_action_button_loading="true"></a>
{{/notEq}}
