{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class='stage2-notifications-prefs'>
    <div class='stage2-notifications-prefs-title'>{{str 'LBL_HINT_PREFERENCES'}}</div>

    <div class='stage2-notifications-emptyline'>
        <button type='button' rel='tooltip' data-placement='left'
        title="{{str 'LBL_HINT_MAXIMUM_PREFERENCES'}}"
        class='stage2-notification-pref-addbtn fake hide'>
            <i class='sicon sicon-plus'></i>
        </button>

        <button type='button' data-action='addNewPreference' 
        class='stage2-notification-pref-addbtn real'>
            <i class='sicon sicon-plus'></i>
        </button>
    </div>
</div>
