{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}

<div class="mt-22.5 cd-connection">
    <div>
        <i class="sicon sicon-lg sicon-warning-lg mb-2.5 cd-warning"></i>
    </div>
    <h1>{{str errorMessage}}</h1>
</div>
