{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="span12 record-cell edit" data-type="text">
    <div class="labels-on-side">
        <div class="record-label-wrapper span2">
            <div class="record-label">
                {{str "LBL_ACTIONBUTTON_USE_PMSE"}}
            </div>
        </div>
        <div class="record-link-wrapper span4">
            <span class="normal index">
                <span class="edit">
                    <input type="checkbox" data-fieldname="bpm" value="" {{#if this._properties.pmse}}checked{{/if}}>
                </span>
            </span>
        </div>
    </div>
</div>
<div class="span6 record-cell edit" data-type="text">
    <div class="labels-on-side">
        <div class="record-label-wrapper span2">
            <div class="record-label">
                {{str "LBL_ACTIONBUTTON_TEMPLATE"}}
            </div>
        </div>
        <div class="record-link-wrapper span4">
            <span class="normal index">
                <span class="edit inherit-width" data-fieldname="template">
                </span>
            </span>
        </div>
    </div>
</div>
<div class="span12 record-cell edit" data-type="text">
    <div class="labels-on-side">
        <div class="record-label-wrapper span2">
            <div class="record-label">
                {{str "LBL_ACTIONBUTTON_EMAIL_TO"}}
            </div>
        </div>
        <div class="record-link-wrapper span4">
            <span class="normal index">
                <span class="edit">
                    <div class="span6" data-fieldname="formula"></div>
                </span>
            </span>
        </div>
    </div>
</div>
