{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<section id="home-index">
  {{#if meta.description}}
    <div class="page-header">
      <p class="lead">{{{page.description}}}</p>
    </div>
  {{/if}}

  <ul class="sg-main listed">
      <li>
          <a href="#Styleguide/docs/index">Core UI Elements</a>
      </li>
      <li>
          <a href="#Styleguide/fields/index">Example SugarCRM Fields</a>
      </li>
      <li>
          <a href="#Styleguide/views/index">Example SugarCRM Views</a>
      </li>
      <li>
          <a href="#Styleguide/layout/records">Default Module List Layout</a>
      </li>
      <li>
          <a href="#Styleguide/create">Default Record Create Layout</a>
      </li>
      <li>
          <a href="#Styleguide/docs/base-edit">Updating Styleguide Documentation</a>
      </li>
  </ul>
</section>
