.alert .close {
  right: auto;
  left: 10px;
}

.alert span .btn-link.btn-inline {
  margin: 0;
}

.alert.closeable {
  padding-right: 0;
  padding-left: 40px;
}

.alert-confirmation {
  .alert {
    .text {
      .pr-0();
      .pl-4();
    }
  }
}

.alert {
  &:not(.alert-process)::before {
    transform: scaleX(-1);
  }
}

.alert-top {
  .alert {
    .text-right();
  }
}
