// Purchase History dashlet styling
.purchase-history {
  .pli-name {
    &[data-fieldname="name"] {
      .relate-field-container {
        padding-right: 0;
        padding-left: 32px;

        .focus-icon-container {
          position: relative;
          right: 32px;
        }
      }

      &:hover {
        .date-name-link {
          margin-right: 0;
          margin-left: -32px;
        }
      }
    }
  }
}
