{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="pull-right">
    <button type="button" class="btn btn-invisible hidden" data-action="toggleMode" rel="tooltip" data-placement="bottom" data-original-title="{{str 'LBL_OMNICHANNEL_FULL_VIEW'}}">
        <i class="sicon sicon-full-screen"></i>
    </button>
    <button type="button" class="btn btn-invisible" data-action="omnichannelClose" rel="tooltip" data-placement="bottom" data-original-title="{{str 'LBL_CLOSE_BUTTON_LABEL'}}">
        <i class="sicon sicon-minus"></i>
    </button>
</div>
<h4>{{str 'LBL_OMNICHANNEL'}}</h4>
