{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="record tab-layout">
    <div class="content-tabs ab-admin-tabs">
        <ul class="nav nav-tabs ab-admin-side-tabs ab-admin-no-border-top">
            <li class="tab tab-badgeable active">
                <a
                    class="ellipsis_inline"
                    data-index="1"
                    data-toggle="tab"
                    data-original-title="{{str 'LBL_ACTIONBUTTON_RECORD'}}"
                    data-tabId="record"
                >
                    <span class="tab-title">{{str 'LBL_ACTIONBUTTON_RECORD'}}</span>
                </a>
            </li>
            <li class="tab tab-badgeable">
                <a
                    class="ellipsis_inline"
                    data-index="2"
                    data-toggle="tab"
                    data-original-title="{{str 'LBL_ACTIONBUTTON_ACTION_MENU'}}"
                    data-tabId="action-menu"
                >
                    <span class="tab-title">{{str 'LBL_ACTIONBUTTON_ACTION_MENU'}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
