{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="btn-toolbar pull-right">
    <a href="javascript:void(0);" class="btn btn-invisible btn-link" role="button" tabindex="0" name="clear_button" track="click:cancel_button">
        {{str 'LBL_BUTTON_CLEAR' 'DocuSignEnvelopes'}}
    </a>
    <button class='btn btn-primary addDocument'>{{str 'LBL_BUTTON_ADD_DOCUMENT' 'DocuSignEnvelopes'}}</button>
    <button class='btn btn-primary sendEnvelope'>{{str 'LBL_BUTTON_SEND' 'DocuSignEnvelopes'}}</button>
</div>
